<h2 class="page-header">Cab Booking</h2>
<form name="bookingFormContainer" role="form" xt-form="form" novalidate>
  <div class="form-group">
    <label class="radio-inline">
      <input type="radio" name="tripType" value="oneway" checked> One Way
    </label>
    <label class="radio-inline">
      <input type="radio" name="tripType" value="roundtrip"> Round Trip
    </label>
  </div>
  <div class="form-group">
    <label for="passengerName">Passenger Name</label>
    <input type="text" data-ng-model="bookingDetails.passengerName" class="form-control" id="passengerName" name="passengerName" placeholder="Passenger Name" autofocus xt-validate required>
  </div>
  <div class="row">
    <div class="form-group col-md-6">
      <label for="passengerMobile">Passenger Mobile</label>
      <input type="text" data-ng-model="bookingDetails.passengerMobile"  class="form-control" id="passengerMobile" name="passengerMobile" placeholder="Passenger Mobile" xt-validate required>
    </div>
    <div class="form-group col-md-6">
      <label for="passengerAltMobile">Passenger Alternate Mobile</label>
      <input type="text" data-ng-model="bookingDetails.passengerAltMobile" class="form-control" id="passengerAltMobile" placeholder="Passenger Alternate Mobile">
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-6">
      <label for="pickupFrom">From</label>
      <input type="text" data-ng-model="bookingDetails.pickupPlace" class="form-control" id="pickupFrom" placeholder="Select Origin" xt-validate required name="pickupFrom">
    </div>
    <div class="form-group col-md-6">
      <label for="pickupTo">To</label>
      <input type="text" data-ng-model="bookingDetails.dropPlace" class="form-control" id="pickupTo" placeholder="Select Destination" xt-validate required name="pickupTo">
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-3">
      <label for="pickupDateTime">Date</label>
      <input type="text" datepicker data-ng-model="bookingDetails.pickupDate" class="form-control" id="pickupDate" placeholder="Pickup Date" xt-validate required name="pickupDate">
    </div>
    <div class="form-group col-md-3">
      <div class="row">
        <div class="form-group col-md-6">
          <label for="landmark1">Hour</label>
          <select class="form-control" data-ng-model="bookingDetails.pickupHours" data-ng-options="k as v for (k,v) in hours" placeholder="HH"></select>
        </div>
        <div class="form-group col-md-6 pull-left">
          <label>Minutes</label>
          <select class="form-control" data-ng-model="bookingDetails.pickupMinutes" data-ng-options="k as v for (k,v) in minutes" placeholder="MM"></select>
        </div>
      </div>
    </div>
    <div class="form-group col-md-6">
      <label for="landmark1">Landmark</label>
      <input type="text" data-ng-model="bookingDetails.landmark1"  class="form-control" id="landmark1" placeholder="Please enter landmark">
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-6">
      <label for="vehicle">Vehicle</label>      
      <select class="form-control" data-ng-model="bookingDetails.vehicleName" data-ng-options="obj.id as obj.vehicleName for obj in vehicleNames" placeholder="Select Vehicle"></select>
    </div>
    <div class="form-group col-md-6">
      <label for="package">Package</label>
      <select class="form-control" data-ng-model="bookingDetails.tariffId" data-ng-options="obj.id as obj.packageName for obj in packages" placeholder="Select Vehicle"></select>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-12">
      <label for="comments">Comments</label>
      <textarea id="comments" data-ng-model="bookingDetails.comments"  class="form-control"></textarea>
    </div>
  </div>
  <button type="submit" class="btn btn-warning" data-ng-click="fnSaveBooking()">Save</button>
</form>